---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Skills from "../components/Skills.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="kS">
  <main class="min-h-screen">
    <Hero />
    <Skills />
    <Projects />
    <Contact />
  </main>
</Layout>
