---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Skills from "../components/Skills.astro";
---

<Layout title="kS">
  <main class="min-h-screen">
    <Hero />
    <Skills />
  </main>
</Layout>
