<header
  class="flex fixed top-0 left-0 w-full justify-between px-8 sm:px-16 py-8 font-agra text-base sm:text-xl font-bold items-center z-20"
>
  <img src="/assets/logo.svg" class="h-12 sm:h-16" />
  <ul
    class="h-full flex gap-4 sm:gap-12 md:gap-16 justify-between items-center z-40"
  >
    <li><a href="/about">{"resume>"}</a></li>
    <li><a href="/contact">skills</a></li>
    <li><a href="/blog">contact</a></li>
  </ul>
</header>
