---
import HeroClient from "./HeroClient";
---

<section class="h-screen flex justify-center items-center px-24 py-16">
  <HeroClient client:load />
  <div class="polka z-10"></div>
  <div class="paper z-[5]"></div>
</section>
<style>
  @keyframes polka-pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
</style>
