---
import HeadingClient from './HeadingClient'

---
<section
  id="projects"
  class="grid grid-cols-12 w-full h-screen relative z-20 [&>*]:border [&>*]:border-dashed"
>

      
  <div class="h-full digital-garden project col-span-5 origin-top-left"></div>
  <div class="h-full col-span-3"></div>
  <div class="h-full tilebook project col-span-4"><HeadingClient client:load heading={"~My projects~"} rotate={3} right /></div>

  <div class="h-full col-span-4"></div>
  <div class="h-full git-lobby project col-span-5"></div>
  <div class="h-full col-span-3"></div>

  <div class="h-full col-span-4"></div>
  <div class="h-full col-span-3"></div>
  <div class="h-full spacex-clone project col-span-5 origin-bottom-right"></div>
</section>
<style>
  @tailwind components;
  @layer components {
    .project {
      @apply bg-no-repeat bg-contain bg-center bg-black
    }
  }
  .digital-garden {
    background-image: url("https://portfolio-v1-deko95.vercel.app/_next/image?url=%2Fdigitalgarden_screenshot.png&w=3840&q=75");

  }
  .spacex-clone {
    background-image: url("https://portfolio-v1-deko95.vercel.app/_next/image?url=%2Fspacex_screenshot.png&w=3840&q=75");

  }
  .git-lobby {
    background-image: url("https://portfolio-v1-deko95.vercel.app/_next/image?url=%2Fgitlobby_screenshot.png&w=3840&q=75");
  }
  .tilebook {
    background-image: url("/assets/tilebook.jpg");
  }
</style>
