<section
  id="projects"
  class="grid grid-cols-12 w-full h-screen relative z-20 [&>*]:border [&>*]:border-dashed"
>
  <div class="h-full digital-garden project col-span-4 origin-top-left"></div>
  <div class="h-full col-span-1"></div>
  <div class="h-full col-span-3"></div>
  <div class="h-full col-span-4"></div>

  <div class="h-full col-span-1"></div>
  <div class="h-full col-span-4"></div>
  <div class="h-full git-lobby project col-span-4"></div>
  <div class="h-full col-span-3"></div>

  <div class="h-full col-span-4"></div>
  <div class="h-full col-span-3"></div>
  <div class="h-full col-span-1"></div>
  <div class="h-full spacex-clone project col-span-4 origin-bottom-right"></div>
</section>
<style>
  @tailwind components;
  @layer components {
    .project {
      @apply hover:absolute hover:w-full hover:top-0 hover:left-0 hover:z-40 transition-transform duration-150;
    }
  }
  .digital-garden {
    background-image: url("https://portfolio-v1-deko95.vercel.app/_next/image?url=%2Fdigitalgarden_screenshot.png&w=3840&q=75");
    background-size: cover;
    background-position: center;
  }
  .spacex-clone {
    background-image: url("https://portfolio-v1-deko95.vercel.app/_next/image?url=%2Fspacex_screenshot.png&w=3840&q=75");
    background-size: cover;
    background-position: center;
  }
  .git-lobby {
    background-image: url("https://portfolio-v1-deko95.vercel.app/_next/image?url=%2Fgitlobby_screenshot.png&w=3840&q=75");
    background-size: cover;
    background-position: center;
  }
</style>
