---
import SkillsClient from "./SkillsClient";
---

<section
  class="h-[90rem] min-h-screen relative overflow-hidden w-full"
  id="skills"
>
  <!-- <div class="paper paper-skills z-10"></div> -->
  <!-- <div class="paper paper-skills2 z-10"></div> -->

  <SkillsClient client:load />
</section>
<style is:global>
  @tailwind utilities;
  @layer utilities {
    .paper-skills {
      height: 100%;
    }
  }
</style>
