<section class="h-screen relative">
  <h1
    class="text-7xl w-fit font-misto z-50 -rotate-[8deg] relative top-40 left-16"
  >
    {"<-My Skills->"}
  </h1>
  <div
    class="skills-desc-box z-50 flex gap-6 items-center relative -rotate-[10deg] top-20 left-8 font-agra font-bold text-black"
  >
    <span class="text-[5.25rem]">Lorem</span>
    <span class="text-[4.25rem]">ipsum</span>
    <span class="text-[3.5rem]">dolor</span>
    <span class="text-[2.75rem]">sit</span>
    <span class="text-[2.25rem]">amet</span>
  </div>

  <div class="polka polka-skills z-20"></div>
  <div class="paper paper-skills z-10"></div>
  <div class="paper paper-skills2 z-10"></div>
  <div class="cross-dots h-full top-0 left-0 w-full"></div>
</section>
<style>
  @tailwind utilities;
  @layer utilities {
    .polka-skills {
      clip-path: polygon(14% 0, 0 7%, 4% 0);
    }

    .paper-skills {
      clip-path: polygon(0 0, 100% 0, 100% 9%, 0 34%);
    }

    .paper-skills2 {
      clip-path: polygon(0 74%, 100% 12%, 100% 100%, 0 100%);
    }
  }
</style>
