---
import HeadingClient from "./HeadingClient";
import SkillsClient from "./SkillsClient";
---

<section
  class="h-[90rem] min-h-screen lg:pt-32 relative overflow-hidden w-full"
  id="skills"
>
  <HeadingClient client:load heading={"<-My skills->"} rotate={-5} />
  <SkillsClient client:load />
</section>
<style is:global>
  @tailwind utilities;
  @layer utilities {
    .paper-skills {
      height: 100%;
    }
  }
</style>
