---
import Header from "../components/Header.astro";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
<style is:global>
  html {
    @apply text-white;
  }

  @font-face {
    font-family: "e-Ukraine";
    src: url("/fonts/e-Ukraine-Regular.otf") format("opentype");
    font-weight: normal;
  }

  @font-face {
    font-family: "e-Ukraine";
    src: url("/fonts/e-Ukraine-Bold.otf") format("opentype");
    font-weight: bold;
  }

  @font-face {
    font-family: "e-Ukraine";
    src: url("/fonts/e-Ukraine-Medium.otf") format("opentype");
    font-weight: 500;
  }

  @font-face {
    font-family: "e-Ukraine";
    src: url("/fonts/e-Ukraine-Light.otf") format("opentype");
    font-weight: 300;
  }

  @font-face {
    font-family: "e-Ukraine";
    src: url("/fonts/e-Ukraine-UltraLight.otf") format("opentype");
    font-weight: 200;
  }

  @font-face {
    font-family: "e-Ukraine";
    src: url("/fonts/e-Ukraine-Thin.otf") format("opentype");
    font-weight: 100;
  }

  @font-face {
    font-family: "PP Agrandir";
    src: url("/fonts/PPAgrandir-Regular.otf") format("opentype");
    font-weight: 400;
  }

  @font-face {
    font-family: "PP Agrandir";
    src: url("/fonts/PPAgrandir-GrandHeavy.otf") format("opentype");
    font-weight: 700;
  }

  @font-face {
    font-family: "PP Agrandir";
    src: url("/fonts/PPAgrandir-WideBlackItalic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
  }

  @font-face {
    font-family: "PP Agrandir";
    src: url("/fonts/PPAgrandirText-Bold.otf") format("opentype");
    font-weight: 600;
  }

  @font-face {
    font-family: "PP Agrandir";
    src: url("/fonts/PPAgrandir-NarrowRegular.otf") format("opentype");
    font-weight: 500;
  }

  @font-face {
    font-family: "PP Agrandir";
    src: url("/fonts/PPAgrandir-GrandLight.otf") format("opentype");
    font-weight: 300;
  }

  @font-face {
    font-family: "PP Agrandir";
    src: url("/fonts/PPAgrandir-WideLight.otf") format("opentype");
    font-weight: 200;
  }

  @font-face {
    font-family: "PP Agrandir";
    src: url("/fonts/PPAgrandir-ThinRegular.otf") format("opentype");
    font-weight: 100;
  }

  @font-face {
    font-family: "PP Agrandir";
    src: url("/fonts/PPAgrandir-ThinItalic.otf") format("opentype");
    font-weight: 100;
    font-style: italic;
  }

  @font-face {
    font-family: "Misto";
    src: url("/fonts/Misto.woff2") format("woff2");
    font-weight: normal;
  }

  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
