---
import Header from "../components/Header";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <script is:inline src="/va/script.js"></script>
    <title>{title}</title>
    <meta
      property="og:title"
      content="Kostiantyn Shyrolapov | Frontend Developer"
    />
    <meta property="og:description" content="Aiming to make web better!" />
    <meta property="og:image" content="https://i.ibb.co/JKxtKmV/Group-3.png" />
  </head>
  <body>
    <div class="paper z-[5] fixed"/>
    <Header client:load />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --black: #171719;
    --white: #f2fbeb;
    --lowop-white: #f2fbeb10;
    --darker-white: #a4a4a4;
    --darker-black: #131315;
  }

  html {
    @apply text-white;
    overflow-x: hidden;
    overflow-y: overlay;
    scroll-behavior: smooth;
  }

  * {
    box-sizing: border-box;
  }

  body {
    overflow-x: hidden;
    height: 100%;
  }

  @font-face {
    font-family: "e-Ukraine";
    src: url("/fonts/e-Ukraine-Regular.otf") format("opentype");
    font-weight: normal;
  }

  @font-face {
    font-family: "e-Ukraine";
    src: url("/fonts/e-Ukraine-Bold.otf") format("opentype");
    font-weight: bold;
  }

  @font-face {
    font-family: "e-Ukraine";
    src: url("/fonts/e-Ukraine-Medium.otf") format("opentype");
    font-weight: 500;
  }

  @font-face {
    font-family: "e-Ukraine";
    src: url("/fonts/e-Ukraine-Light.otf") format("opentype");
    font-weight: 300;
  }

  @font-face {
    font-family: "e-Ukraine";
    src: url("/fonts/e-Ukraine-UltraLight.otf") format("opentype");
    font-weight: 200;
  }

  @font-face {
    font-family: "e-Ukraine";
    src: url("/fonts/e-Ukraine-Thin.otf") format("opentype");
    font-weight: 100;
  }

  @font-face {
    font-family: "PP Agrandir";
    src: url("/fonts/PPAgrandir-Regular.otf") format("opentype");
    font-weight: 400;
  }

  @font-face {
    font-family: "PP Agrandir";
    src: url("/fonts/PPAgrandir-GrandHeavy.otf") format("opentype");
    font-weight: 700;
  }

  @font-face {
    font-family: "PP Agrandir";
    src: url("/fonts/PPAgrandir-WideBlackItalic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
  }

  @font-face {
    font-family: "PP Agrandir";
    src: url("/fonts/PPAgrandirText-Bold.otf") format("opentype");
    font-weight: 600;
  }

  @font-face {
    font-family: "PP Agrandir";
    src: url("/fonts/PPAgrandir-NarrowRegular.otf") format("opentype");
    font-weight: 500;
  }

  @font-face {
    font-family: "PP Agrandir";
    src: url("/fonts/PPAgrandir-GrandLight.otf") format("opentype");
    font-weight: 300;
  }

  @font-face {
    font-family: "PP Agrandir";
    src: url("/fonts/PPAgrandir-WideLight.otf") format("opentype");
    font-weight: 200;
  }

  @font-face {
    font-family: "PP Agrandir";
    src: url("/fonts/PPAgrandir-ThinRegular.otf") format("opentype");
    font-weight: 100;
  }

  @font-face {
    font-family: "PP Agrandir";
    src: url("/fonts/PPAgrandir-ThinItalic.otf") format("opentype");
    font-weight: 100;
    font-style: italic;
  }

  @font-face {
    font-family: "Misto";
    src: url("/fonts/Misto.woff2") format("woff2");
    font-weight: normal;
  }

  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }

  ::-webkit-scrollbar {
    mix-blend-mode: difference;
  }

  .polka {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--black);
    opacity: 1;
    background-image: radial-gradient(#ffffff33 0.75px, transparent 0.75px),
      radial-gradient(#ffffffaa 1px, var(--black) 1px);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
    clip-path: polygon(48% 0%, 74% 0%, 100% 27%, 100% 71%, 0% 100%, 0% 95%);
  }

  .paper {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--darker-black) ;
    background-image: linear-gradient(var(--lowop-white) 1.25px, transparent 1.25px),
      linear-gradient(90deg, var(--lowop-white) 1.25px, transparent 1.25px),
      linear-gradient(var(--lowop-white) 1px, transparent 1px),
      linear-gradient(90deg, var(--lowop-white) 1px, var(--darker-black) 1px);
    background-size: 200px 200px, 200px 200px, 40px 40px, 40px 40px;
    background-position: -1.25px -1.25px, -1.25px -1.25px, -1px -1px,
      -0.75px -0.57px;
  }

  .paper:after {
    position: absolute;
    top: 1000px;
    left: 0;
    bottom: 0;
    right: 0;
    background: radial-gradient(circle, transparent 50%, var(--black) 100%);
  }

  .cross-dots {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: radial-gradient(var(--black) 0, transparent 0),
      radial-gradient(var(--black) 0, transparent 0),
      linear-gradient(var(--white) 4px, transparent 0),
      linear-gradient(
        45deg,
        transparent 74px,
        transparent 75px,
        var(--darker-white) 75px,
        var(--darker-white) 76px,
        transparent 77px,
        transparent 109px
      ),
      linear-gradient(
        -45deg,
        transparent 75px,
        transparent 76px,
        var(--darker-white) 76px,
        var(--darker-white) 77px,
        transparent 78px,
        transparent 109px
      ),
      var(--white);
    background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px,
      109px 109px;
    background-position: 54px 55px, 46px 46px, 46px 46px, 46px 46px, 46px 46px;
  }
</style>
